@import '../../config/variable.styl'

.tagContainer

	margin-top: 100px
	margin-left: 15px

	@media only screen and (max-width: 601px)
		margin-top: 0

		[type="checkbox"]+span:not(.lever)
			font-size: 1.2rem
	
	p
		margin: 5px 0

	label
		padding: 5px 0

	span
		text-transform: capitalize
		font-weight: 600

	.normal span
		color: $normal

	.fighting span
		color: $fighting

	.flying span
		color: $flying

	.poison span
		color: $poison

	.ground span
		color: $ground

	.rock span
		color: $rock

	.bug span
		color: $bug

	.ghost span
		color: $ghost

	.steel span
		color: $steel

	.fire span
		color: $fire

	.water span
		color: $water

	.grass span
		color: $grass

	.electric span
		color: $electric

	.psychic span
		color: $psychic

	.ice span
		color: $ice

	.dragon span
		color: $dragon

	.dark span
		color: $dark

	.fairy span
		color: $fairy

	.shadow span
		color: $shadow