.tagContainer {
	margin-top: 100px;
	margin-left: 15px;
}

.tagContainer p{
	margin: 5px 0;
}

.tagContainer label{
	padding: 5px 0;
}

.tagContainer span {
	text-transform: capitalize;
	font-weight: 600;
}

.tagContainer .normal span {
	color:#607D8B;
}

.tagContainer .fighting span {
	color:#E91E63;
}

.tagContainer .flying span {
	color:#41c1d2;
}

.tagContainer .poison span {
	color:#673AB7;
}

.tagContainer .ground span {
	color:#795548;
}

.tagContainer .rock span {
	color:#757575;
}

.tagContainer .bug span {
	color:#009688;
}

.tagContainer .ghost span {
	color:#78909C;
}

.tagContainer .steel span {
	color:#5d5d5d;
}

.tagContainer .fire span {
	color:#F44336;
}

.tagContainer .water span {
	color:#577BB3;
}

.tagContainer .grass span {
	color:#4CAF50;
}

.tagContainer .electric span {
	color:#9C27B0;
}

.tagContainer .psychic span {
	color:#E91E63;
}

.tagContainer .ice span {
	color:#03A9F4;
}

.tagContainer .dragon span {
	color:#FFC107;
}

.tagContainer .dark span {
	color:#191919;
}

.tagContainer .fairy span {
	color:#03A9F4;
}

.tagContainer .shadow span {
	color:#9e9e9e;
}

.tagContainer .unknown span {
	color:#E91E63;
}

@media only screen and (max-width: 601px) {
 .tagContainer {
  margin-top: 0px;
 }

 .tagContainer [type="checkbox"] + span:not(.lever){
  font-size: 1.5rem;
 }
}
