@import '../../config/variable.styl'

.imageBlock

	min-height: 240px
	display: flex
	justify-content: center
	align-items: center

.img

	 	max-width: 50%
	 	max-height: 200px

.poke-card 

	.card-title
		text-transform: capitalize

	.card-content
		padding: 15px

	.card-reveal
		padding: 15px

	ul:not(.browser-default)
		padding-top: 2px

	li.collection-item
		text-transform: capitalize
		background-color: transparent

	.badge
		color: #fff !important;
		border-radius: 3px;

	.normal 
		background-color: $normal

	.fighting 
		background-color: $fighting

	.flying 
		background-color: $flying

	.poison 
		background-color: $poison

	.ground
		background-color: $ground

	.rock
		background-color: $rock

	.bug
		background-color: $bug

	.ghost 
		background-color: $ghost

	.steel
		background-color: $steel

	.fire
		background-color: $fire

	.water
		background-color: $water

	.grass
		background-color: $grass

	.electric
		background-color: $electric

	.psychic
		background-color: $psychic

	.ice
		background-color: $ice

	.dragon
		background-color: $dragon

	.dark
		background-color: $dark

	.fairy
		background-color: $fairy

	.shadow
		background-color: $shadow

	.unknown
		background-color: $unknown
