$gold = #ffd803
$red = #ff0505
$grey = #ccc

.favoritConent
  display: flex
  justify-content: right
  width: 100%
  i
    color: $grey
    cursor: pointer
  i.star
    color: $gold
  i.delete
    color: $red