$normal = #607D8B
$fighting = #E91E63
$flying = #41c1d2
$poison = #673AB7
$ground = #795548
$rock = #757575
$bug = #009688
$ghost = #78909C
$steel = #5d5d5d
$fire = #F44336
$water = #577BB3
$grass = #4CAF50
$electric = #9C27B0
$psychic = #E91E63
$ice = #03A9F4
$dragon = #FFC107
$dark = #191919
$fairy = #03A9F4
$shadow = #9e9e9e
$unknown = #E91E63
